
.def-showing{
  display:none;
}

.def-showing-2{
  display:none;
}

.def-showing-3{
  display:none;
}

#def-showing-4{
  display:none;
}

#def-showing-5{
  display:none;
}

.webpage{
  text-align: left;
  padding:40px;
  margin:20px;
  background-color:rgb(231, 231, 231);
  height:auto;
}